*, html{
	padding: 0;
	margin: 0;
	color: orange;
}

html, body{
	height: 100%;
}

#content{
	width: 800px;
	height: 100%;
	display: block;
	background-image: url(https://external-preview.redd.it/LRmT8yJPpoqGulM3_Js5IskqmxqPwgb196NFUtX08oY.jpg?auto=webp&s=8cafc04e8600b49eee044ec92d833b986e2c33d9);
	position: relative;
	margin: 0 auto; /* elementin keskitys vaakasuunnassa */
	border: 10px solid orange;
}

#cart_info{
	float: right;
	margin-top: -30px;
	margin-right: 30px;
}

#cart_icon{
	font-size: 30px;
	cursor: pointer;
}

#cart_number{
	font-size: 30px;
}

#menu{
	float: left;
	width: 180px;
	height: auto;
	outline: 1px solid #f00;
}

#products{
	float: left;
	width: 420px;
	height: auto;
	outline: 1px solid #f00;
}

#products ol{
	margin-left: 20px;
}

#productList li{
	width: 150px;
	height: 150px;
	float: left;
	clear: none;
	background-image: linear-gradient(to bottom right, darkblue , purple, #ff66ff);
	border-radius: 12px;
	margin: 4px;
	list-style: none;
}

#productList li .product{
	text-align: center;
}

#productList li img{
	width: 96px;
	height: 96px;
	clear: both;
	border-radius: 12px;
	margin-top: 8px;
	cursor: pointer;
	padding: 8px;
	background-color: #fff;
}

#cart{
	float: left;
	width: 200px;
	min-height: 300px;
	outline: 1px solid green;
}

#cart ol{
	margin-left: 20px;
}

#cart ol li{
	
}

#cart ol li img{
	width: 72px;
	height: 72px;
}

#menu ul{
	margin-left: 10px;
}

#menu ul li{
	list-style: none;
	cursor: pointer;
}

#menu ul li ul {
	opacity: 0;
	transition: all 0.25s ease-in-out;
}

#menu ul li:hover > ul{
	opacity: 1;
}